@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gradient: #1da1f2;

    --background: 215 57.85% 4.24%;
    --foreground: 215 8.9% 97.65%;

    --muted: 215 44.5% 15.9%;
    --muted-foreground: 215 8.9% 55.3%;

    --popover: 215 47.2% 6.890000000000001%;
    --popover-foreground: 215 8.9% 97.65%;

    --card: 215 47.2% 6.890000000000001%;
    --card-foreground: 215 8.9% 97.65%;

    --border: 215 44.5% 15.9%;
    --input: 215 44.5% 15.9%;

    --primary: 215 89% 53%;
    --primary-foreground: 215 8.9% 5.300000000000001%;

    --secondary: 215 44.5% 15.9%;
    --secondary-foreground: 215 8.9% 97.65%;

    --accent: 215 44.5% 15.9%;
    --accent-foreground: 215 8.9% 97.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 8.9% 97.65%;

    --ring: 215 89% 53%;

    --radius: 0.5rem;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
